.logo{
    width:180px;
    cursor: pointer;
}
.navbar{
    width: 100%;
    padding:0px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.7)10%,transparent);
    z-index: 1;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap:50px;
}
.navbar-left ul{
    display: flex;
    list-style: none;
    gap:20px;
    font-size: 1.2rem;
    cursor: pointer;
}
.navbar-left ul li a{
    color: white;
    text-decoration: none;
}

  
.navbar-right {
    display: flex;
    gap:20px;
    align-items: center;
}
.navbar-right .icons{
    width:20px;
    cursor:pointer;
}
.navbar-right .profile{
    border-radius: 4px;
    width:35px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    gap:10px;
    cursor: pointer;
    position: relative;
}
.dropDown{
    position: absolute;
    top:100%;
    right:0;
    width:max-content;
    background-color: #191919;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    font-size: 13px;
    cursor: pointer;
    
    margin-top: 8px;
}

.nav-dark{
    background-color: #141414;
}
@media (max-width: 800px) {
    .navbar{
        padding:20px 4%;
    }
    .navbar-left ul{
        display: none;

    }
    .logo{
        height: 40px;
    }
}

@media (max-width:500px) {
    .navbar-right{
        gap: 10px;
    }
    .navbar-left .logo {
        height: 40px;
    } 
    .navbar-profile .profile{
        height: 35px;
    }
}